@import "bootstrap";
@import "themes";
@import "global";

#about {
  margin-top: 5%;
}

.about-itachi-img {
  display: block;
  margin: auto;
  transition: border $theme-toggle-time;
  @include themed() {
    border: 0.5rem solid t("secondary-color");
  }
}

.about-intro {
  br {
    display: none;
  }
}

.about-secondary-color {
  transition: color $theme-toggle-time;
  @include themed() {
    color: t("secondary-color");
  }
}

// Bootstrap breakpoint to optimize when layout changes.
@media screen and (max-width:991px){
  .about-itachi-img{
    max-width: 30%;
    max-height: auto;
  }
  
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
	.about-intro{
    
    margin: auto;
    padding-left: 10%;
  }
}
// Breakpoint to ensure TypeWriter text never overflows to newline
@media screen and (max-width: 1362px) {
  .about-intro {
    br {
      display: inline-block;
    }
  }
}