@import "themes";
@import "global";

.header {
  font-weight: 800;
  padding-left: 1%;
  padding-right: 2%;
  
  label {
    margin-top: auto;
    margin-bottom: auto;
  }

  .sun {
    color: yellow;
    margin: 0px 3px;
  }

  .moon {
    color: #ffffff;
    margin: 0px 5px;
  }
}
